.header {
    background: var(--color-tretiary);
    background-blend-mode: color-burn;
    padding-top: 26px;
    position: relative;
    overflow: hidden;
}

.header__left {
    max-width: 542px;
    text-align: center;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 128px;
    z-index: 2;
    position: relative;
}

.header__logo {
    align-self: start;
    height: 36px;
}

.header__headline {
    margin-top: 60px;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.header__title {
    font-family: 'Merriweather';
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    line-height: 110%;
}

.header__title--start {
    align-self: flex-start;
}

.header__title--center {
    align-self: center;
}

.header__title--end {
    align-self: flex-end;
}

.header__description {
    font-size: 18px;
    line-height: 130%;
    margin: 24px 0 40px;
}

.header__buttons {
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.header__button {
    border: none;
    border-radius: 66px;
    color: var(--color-primary);
    background-color: var(--color-secondary);
    padding: 15px 49px;
    width: 263px;
    line-height: 130%;
}

.header__button:hover {
    color: var(--color-secondary);
    background-color: var(--color-yellow);
}

.header__button--outline {
    color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    background-color: transparent;
}

.header__button--outline:hover {
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

.header__decorations {
    width: 100%;
    pointer-events: none;
}

.header__texture {
    position: absolute;
    top: 50%;
    right: 0;
    mix-blend-mode: color-burn;
    z-index: 1;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.header__circle::after {
    content: url('../../assets/common/circle_text.svg');
    mix-blend-mode: overlay;
    position: absolute;
    width: 94%;
    aspect-ratio: 1 / 1;
    top: 3%;
    left: 3%;
    -webkit-animation: rotateAnimation 50s linear infinite;
    -moz-animation: rotateAnimation 50s linear infinite;
    -o-animation: rotateAnimation 50s linear infinite;
    animation: rotateAnimation 50s linear infinite;
}

@keyframes rotateAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.header__circle {
    width: 660px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    position: absolute;
    top: -44px;
    left: calc(50% - 10px);
    background-color: var(--color-yellow);
    z-index: 0;
}

.header__city {
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 0;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.header__chessdesk {
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 0;
    mix-blend-mode: color-burn;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.header__path {
    position: absolute;
    left: calc(50% - 15px);
    bottom: 0;
    z-index: 1;
    clip-path: inset(0 0 0 95%);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-animation: revealClip 3s ease forwards;
    -moz-animation: revealClip 3s ease forwards;
    -o-animation: revealClip 3s ease forwards;
    animation: revealClip 3s ease forwards;
}

@keyframes revealClip {
  to {
    clip-path: inset(0 0 0 0);
  }
}

.header__chesspiece {
  position: absolute;
  will-change: transform;
  pointer-events: none;
  -webkit-transition: transform 0.05s linear;
  -moz-transition: transform 0.05s linear;
  -o-transition: transform 0.05s linear;
  transition: transform 0.05s linear;
}

.header__king {
    position: absolute;
    bottom: 164px;
    left: calc(50% + 100px);
    z-index: 0;
    rotate: -5.99deg;
}

.header__queen {
    position: absolute;
    bottom: 270px;
    left: calc(50% + 435px);
    z-index: 0;
    rotate: 7.59deg;
}

.header__pawn {
    position: absolute;
    bottom: 20px;
    left: calc(50% + 585px);
    z-index: 2;
}

.header__knight {
    position: absolute;
    bottom: -40px;
    left: calc(50% + 240px);
    z-index: 2;
    rotate: -10.59deg;
}

@media (min-width: 769px) and (max-width: 1199px) {
    

    .header__city, .header__chessdesk {
        left: 55%;
        -webkit-transform: translate(-45%, 0);
        -moz-transform: translate(-45%, 0);
        -ms-transform: translate(-45%, 0);
        -o-transform: translate(-45%, 0);
        transform: translate(-45%, 0);
    }

    .header__path {
        left: calc(55%);
        -webkit-transform: translate(-46.1%, 0);
        -moz-transform: translate(-46.1%, 0);
        -ms-transform: translate(-46.1%, 0);
        -o-transform: translate(-46.1%, 0);
        transform: translate(-46.1%, 0);
    }

    .header__chesspiece {
        translate: 70%;
    }
}

@media (max-width: 991px) {

    .header__button--outline {
        border: none;
        background-color: rgb(from var(--color-primary) r g b / 90%);
    }
}

@media (max-width: 768px) {

    .header {
        padding-top: 18px;
    }

    .header__logo {
        width: 213px;
    }

    .header__headline {
        margin-top: 40px;
    }

    .header__title {
        font-size: 46px;
    }

    .header__description {
        text-align: left;
        margin: 24px 0 28px;
    }

    .header__left {
        margin-bottom: 287px;
    }

    .header__city, .header__chessdesk {
        width: 150%;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    .header__path {
        width: 149%;
        left: calc(50%);
        bottom: -2px;
        -webkit-transform: translate(-51.1%, 0);
        -moz-transform: translate(-51.1%, 0);
        -ms-transform: translate(-51.1%, 0);
        -o-transform: translate(-51.1%, 0);
        transform: translate(-51.1%, 0);
    }

    .header__king {
        width: 10%;
        bottom: 18vw;
        left: 55%;
    }

    .header__queen {
        width: 10%;
        bottom: 27vw;
        left: 87%;
    }

    .header__pawn {
        display: none;
    }

    .header__knight {
        width: 16%;
        bottom: -1vw;
        left: 75%;
    }

    .header__circle {
        width: 60%;
        top: unset;
        bottom: 0;
        left: 40%;
    }
}

@media (max-width: 542px) {

    .header__buttons {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .header__button {
        width: 100%;
        padding: 14px 43px;
    }

    .header__city, .header__chessdesk {
        width: 250%;
        left: 40%;
        -webkit-transform: translate(-60%, 0);
        -moz-transform: translate(-60%, 0);
        -ms-transform: translate(-60%, 0);
        -o-transform: translate(-60%, 0);
        transform: translate(-60%, 0);
    }

    .header__path {
        width: 250%;
        left: 40%;
        bottom: -5px;
        -webkit-transform: translate(-61.3%, 0);
        -moz-transform: translate(-61.3%, 0);
        -ms-transform: translate(-61.3%, 0);
        -o-transform: translate(-61.3%, 0);
        transform: translate(-61.3%, 0);
    }

    .header__king {
        width: 13%;
        bottom: 30vw;
        left: 25%;
    }

    .header__queen {
        width: 13%;
        bottom: 45vw;
        left: 75%;
    }

    .header__pawn {
        display: none;
    }

    .header__knight {
        width: 20%;
        bottom: -1vw;
        left: 55%;
    }

    .header__circle {
        width: 80%;
        bottom: 15vw;
        left: 10%;
    }
}

@media (max-width: 426px) {

    .header__title {
        font-size: 36px;
    }
}