:root {
    --color-text: #313131;
    --color-primary: #FFFFFF;
    --color-secondary: #1F1F1F;
    --color-tretiary: #E9DED4;
    --color-blue: #3057A2;
    --color-yellow: #FBCE51;
    --color-red: #F54932;
    --color-dark-gray: #424241;
    --color-light-gray: #D6D6D6;
}